@{
  Layout = "_Layout";
}

<div class = "jumbotron jumbotron=fluid">
  <h1>Factory</h1>
</div>

<p class = "btn btn-outline-success">@Html.ActionLink("See all machines", "Index", "Machines")</p>
<p class = "btn btn-outline-success">@Html.ActionLink("See all engineers", "Index", "Engineers")</p>